.popup {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.popup__image {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  max-width: 800px;
  height: 500px;
  z-index: 2;
}

.popup__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 15px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 35px;
  flex-shrink: 0;
}

.popup__overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-active {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 700px;
}

.popup__close {
  border: none;
  cursor: pointer;
  width: 40px;
  background-color: transparent;
  position: absolute;
  right: 400px;
  top: 100px;
}

.popup__close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 535px) {
  .popup__close {
    position: absolute;
    right: 0px;
    top: -40px;
  }
}
